@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

* {
  font-family: 'Cairo', sans-serif;
}

.text-primary {
  color: rgb(253, 186, 116);
}

.border-primary-opaque {
  border-color: rgba(253, 186, 116, .27);
}