@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('../vendor/croppie.css');

/* This file is for your main application CSS */

* {
  font-family: 'Cairo', sans-serif;
}

.text-primary {
  color: rgb(117, 31, 132);
}

.bg-primary {
  background: rgb(117, 31, 132);
}

.bg-primary-light {
  background: rgba(117, 31, 132, .1);
}

.text-secondary {
  color: rgba(0, 0, 0, .51);
}

.border-primary-opaque {
  border-color: rgba(117, 31, 132, .135);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px dotted rgba(117, 31, 132, .27);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.tiny-mce-content h1 {
  @apply mb-5;
  @apply font-bold;
  @apply text-6xl;
}

.tiny-mce-content h2 {
  @apply mb-5;
  @apply font-bold;
  @apply text-5xl;
}

.tiny-mce-content h3 {
  @apply mb-5;
  @apply font-bold;
  @apply text-4xl;
}

.tiny-mce-content h4 {
  @apply mb-5;
  @apply font-bold;
  @apply text-3xl;
}

.tiny-mce-content h5 {
  @apply mb-5;
  @apply font-bold;
  @apply text-2xl;
}

.tiny-mce-content h6 {
  @apply mb-5;
  @apply font-bold;
  @apply text-xl;
}
