<CommonComponents.navbar current_user={assigns[:current_user]} />

<main
  class="px-6 sm:px-8 lg:px-10 transition-all duration-500 -translate-y-1 opacity-0 phx-page-loading:opacity-0"
  phx-mounted={
    JS.remove_class("opacity-0", to: "main") |> JS.remove_class("-translate-y-1", to: "main")
  }
>
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} />

    <%= @inner_content %>
  </div>
</main>
