<main class="px-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} />

    <h1 class="text-primary font-bold text-2xl mt-8 mb-16">Lukas</h1>
    <%= @inner_content %>
  </div>
</main>
